passphrase.txt
logs/
git
.git/
.angular/
.scannerwork/
*.md
cache
.vs
.vscode/
~/
.scannerwork
.angular
node_modules/
dist/
Commons/target/
Models/target/
Repositorys/target/
Services/target/
WEB/target/
